/* CSS PROVISIONAL */

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');









.right-aligned {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 20px 0;
  margin-left: 500px;
  margin-right: 0;  
}



.title-manga{
  margin-left: 800px;
}     


/* CSS BUENO */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
}

/* Asegura que html y body ocupen el 100% de la pantalla */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "K2D", sans-serif;
  font-weight: 600;
  background-image: url('/background-web.png');
  background-color: var(--color-background); /* Color de fondo predeterminado */
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-repeat: repeat; /* Evita que la imagen se repita */
  object-fit: cover; /* Garantiza que la imagen de fondo siempre se ajuste al tamaño */
}


/* Asegura que #root ocupe todo el espacio disponible */
#root {
  width: 100%;
  height: 100vh; /* Hace que ocupe toda la altura de la ventana */
}

:root{
  font-size: 16px;
  width: 100%;
  --color-primary: #1b42c3;
  --color-secondary: #fff;
  --color-background: #2d3748;
  --color-background-dark: #333;
  --color-background-darker: #444;
  --color-background-light: #4B7DA3;
  --color-background-lighter: #064998;
  --color-background-lightest: #01152E;
  --color-border: #555;
  --color-border-light: #ccc;
  --color-border-dark: #022A59;
  --color-border-darker: #003e80;
  --color-border-darkest: #0056b3;
  --color-text: #e2e2b6;
  --color-text-light: #c7c7a3;
  --color-text-lighter: #baba90;
  --color-text-dark: #363636;
  --color-text-darker: #666;
  --color-highlight: #007bff;
  --color-highlight-light: #82B6DF;
  --color-highlight-dark: #00509e;
  --color-highlight-darker: #004494;
  --color-highlight-darkest: #003366;
  --color-shadow: rgba(0, 0, 0, 0.5);
  --color-shadow-light: rgba(0, 0, 0, 0.3);
  --color-shadow-lighter: rgba(0, 0, 0, 0.2);
  --color-shadow-dark: rgba(0, 0, 0, 0.7);
  --color-shadow-darker: rgba(0, 0, 0, 0.8);
  --color-shadow-darkest: rgba(0, 0, 0, 0.9);
  --color-gradient-start: ;
  --color-gradient-end: ;
  --color-gradient-light: #E6E6BF;
  --color-gradient-dark: #D4A373;
}


.link__vector {
  width: 5px; 
  height: 5em;
  background-color: rgb(97, 153, 226);
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}


/* Estilos generales para el navbar */
/* Navbar */
/* Estilos generales para el navbar */

/* PRUEBA  
/* .navbar {
  display: flex;
  z-index: 1;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  width: 4rem; 
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.7); 
  border: 2px solid #E6E6BF; 
  padding: 1rem 0 0 0;
  transition: width 0.3s ease, padding 0.3s ease; 

*/

/* Estilo para la navbar */
/* Estilos de la navbar */
/* Navbar */
.navbar {
  display: flex;
  z-index: 1000;
  flex-direction: column;
  min-height: 100vh;
  position: fixed;
  width: 4rem; /* Comprimida por defecto */
  justify-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(180deg, var(--color-background-lighter) 0%, var(--color-background-lightest) 100%);
  color: var(--color-secondary);
  padding: 1rem 0 0 0;
  transition: width 0.3s ease, padding 0.3s ease;
}

.navbar:hover {
  width: 25%; /* Expande el navbar al pasar el mouse */
  padding: 1rem; /* Vuelve a su padding original */
}


.navbar:hover .search-bar {
  width: 90%; /* Expande la barra de búsqueda a lo largo de la navbar */
}

.navbar:hover .search-bar__input {
  display: block;
}

/* Estilos para los enlaces de navegación */
.navbar__link {
  display: flex;
  align-items: center;
  width: 100%;
  text-decoration: none;
  margin: 1rem 0;
  color: var(--color-gradient-light);
  padding: 1rem 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease, text-align 0.3s ease;
  position: relative;
  border-radius: 20rem;
}

/* Modificador para los enlaces activos */
.navbar__link--active {
  color: var(--color-highlight-light);
}

/* Hover efecto para los enlaces */
.navbar__link:hover {
  background-color: #1a3a6b;
  color: var(--color-text-light);
  transform: scale(1.05);
  text-align: center;
  border-radius: 20rem;
}

/* Estilo para los iconos dentro de los items */
.link__icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

/* Ocultar texto por defecto */
.link__text, .link__vector, .link__title {
  font-size: 1.5rem;
  visibility: hidden; /* Oculta el texto, vector y título por defecto */
  opacity: 0; /* También los hace invisibles */
  transition: visibility 0s, opacity 0.3s ease; /* Transición suave para la visibilidad */
}

.link__title {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.6rem;
  text-align: center;
  transform: scale(1.05);
  font-weight: 800;
  font-size: 1.5rem;
  font-size: 2rem;
}

/* Mostrar texto, vector y título solo cuando está en hover */
.navbar:hover .navbar__link .link__text,
.navbar:hover .navbar__link .link__vector,
.navbar:hover .navbar__link .link__title {
  visibility: visible;
  opacity: 1; /* Muestra el texto, vector y título con suavidad */
}

/* Estilos para el logo */
.link__logo {
  font-size: 2rem; 
  display: inline-block; /* Asegura que esté alineado con el icono */
  flex-shrink: 0; /* Evita que el logo se reduzca */
  transform: translateX(-0.4rem); /* Mueve el logo a la izquierda sin usar margen negativo */
  z-index: 10000;
}


/* Search Bar */

.search-bar-container {
  position: relative;
}

.search-bar {
  display: flex;
  align-items: center;
  transition: width 0.3s ease, padding 0.3s ease; /* Se expande con la navbar */
  width: 3rem; /* Comprimida por defecto */
  padding: 0;
  background: var(--color-background-light);
  border-radius: 50px;
  border: 4px solid var(--color-border-dark);
  color: var(--color-secondary);
  overflow: hidden;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.search-bar__icon {
  font-size: 2rem;
  color: var(--color-gradient-light);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.search-bar__input {
  border: none;
  display: none;
  background: transparent;
  color: var(--color-secondary);
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  padding: 0;
}

/* Resultados de búsqueda */
.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #030F1C;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  margin-top: 10px;
  display: none; /* Ocultar por defecto */
}

/* Cuando la navbar está expandida, mostrar los resultados de búsqueda */
.navbar:hover .search-results {
  display: block;
}


.search-result-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  align-items: center;
  background-color: #030F1C;
  transition: background-color 0.3s ease;
}

.search-result-item:hover {
  background-color: #7896b8;
}

.search-result-cover {
  width: 50px;
  height: 70px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-result-item span {
  font-size: 14px;
  color: var(--color-gradient-light);
}


@media (max-width: 1174px) {
  .search-results {
    width: 90%;
    margin-left: 0.4rem;
  }
}



.hamburger-menu {
  display: none;
  position: fixed;
  z-index: 1000; /* Asegúrate de que el menú hamburguesa esté por encima de todos los contenidos */
}

.hamburger-menu__toggle {
  font-size: 2rem;
  cursor: pointer;
  color: --color-secondary;
}

.hamburger-menu__list {
  display: none;
  flex-direction: column;
  list-style: none;
  background: linear-gradient(180deg, var(--color-background-lighter) 0%, var(--color-background-lightest) 100%);
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 10000%;
  max-height: 100%;
  padding: 1rem;
  z-index: 1000; /* Asegúrate de que la lista del menú hamburguesa esté por encima de todos los contenidos */
}

.hamburger-menu__list--open {
  display: flex;
}

.hamburger-menu__link {
  color: var(--color-gradient-light);
  text-decoration: none;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.hamburger-link__icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.hamburger-link__text {
  font-size: 2rem;
}

.hamburger-menu__link-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.hamburger-link__logo {
  width: 100px;
  height: auto;
  margin-bottom: 0.5rem;
}

.hamburger-link__title {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.6rem;
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  color: var(--color-gradient-light);
}

/* Media queries for responsive design */
@media (max-width: 1170px) {
  .navbar {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-background-lighter);
    padding: 1rem;
    width: 100%;
  }

  .hamburger-menu__link {
    color: var(--color-gradient-light);
    text-decoration: none;
    margin: 1rem 0;
    display: flex;
    align-items: center;
  }

  
}

/* SEARCH BAR MOBILE */

.search-mobile-container {
  width: 90%;
}

.search-mobile {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  background: var(--color-background-light);
  border-radius: 50px;
  border: 2px solid var(--color-border-dark);
  color: var(--color-secondary);
  overflow: hidden;
}

.search-mobile__icon {
  font-size: 1.5rem;
  color: var(--color-gradient-light);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.search-mobile__input {
  border: none;
  background: transparent;
  color: var(--color-secondary);
  font-size: 1rem;
  width: 100%;
  outline: none;
  padding: 0;
}

.search-mobile-results {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  background: #030F1C;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Asegúrate de que los resultados de búsqueda estén por encima de todos los contenidos */
  margin-top: 1rem;
  margin-left: 2rem;
  width: 84%;
}

.search-mobile-result-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  align-items: center;
  background-color: #030F1C;
  transition: background-color 0.3s ease;
}

.search-mobile-result-item:hover {
  background-color: #7896b8;
}

.search-mobile-result-cover {
  width: 50px;
  height: 70px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-mobile-result-item span {
  font-size: 14px;
  color: var(--color-gradient-light);
}

@media (max-width: 540px) {
  .search-mobile-results {
    width: 75%; 
    margin-top: 1rem;
    margin-left: 3rem;
  }

  .hamburger-link__title {
    font-size: 1.5rem;
    margin-right: 10%;
  }
}

@media (max-width: 352px) {
  .search-mobile-results {
    width: 75%;
    margin-left: 1.8rem;
  }

  .hamburger-link__title {
    font-size: 1.5rem;
  }

  .search-mobile-container {
    width: 85%;
  }

}

@media (max-width: 316px) {
  .search-mobile-results {
    width: 70%;
    margin-top: 1rem;
    margin-left: 2.5rem;
  }

  .hamburger-link__title {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (max-width: 262px) {
  .search-mobile-results {
    width: 70%;
    margin-left: 2rem;
  }
}



/* RESETS */

/* Resetear el estilo de las listas */
ul {
  list-style: none; /* Elimina los puntos o viñetas de la lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margen por defecto */
}

/* Opcional: si deseas asegurarte de que los elementos de la lista no tengan márgenes o rellenos indeseados */
li {
  margin: 0;
  padding: 0;
}


/* CARDS */

/* Library.css */

.library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Encabezado */
.library__header {
  width: 100%;
  text-align: center;
}

/* Título */
.library__title {
  font-family: "Anton";
  margin-top: 2rem;
  font-size: 4rem;
  color: var(--color-gradient-light);
  margin-bottom: 20px;
}

/* Contenido de la biblioteca */
.library__content {
  width: 100%;
  max-width: 1200px;
}

.library__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

/* Elemento de manga */
.library__item {
  background: #0e2b4b;
  color: var(--color-text);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 15px var(--color-shadow), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

/* Paginación */
.library__pagination {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.library__button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #0e2b4b;
  color: var(--color-text);
  cursor: pointer;
  transition: background 0.3s;
}

.library__button:hover {
  background: #082136;
}

.library__button--prev {
  margin-right: auto;
}

.library__button--next {
  margin-left: auto;
}

/* Botón de búsqueda */
.library__search-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #0e2b4b;
  color: var(--color-text);
  cursor: pointer;
  transition: background 0.3s;
  margin: 20px 0;
}

.library__search-button:hover {
  background: #082136;
}

.library__search-button-text {
  margin: 0;
}

/* FILTERS */

/* Filters.css */

.filters {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(145deg, #082136, #0e2b4b);
  box-shadow: 5px 5px 15px var(--color-shadow), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  color: var(--color-text);
}

.filters__section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filters__section h3, .filters__section h4 {
  font-size: 1.2rem;
  margin: 0;
  color: var(--color-text);
}

.filters__tag-list {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  gap: 10px;
  flex-direction: row; /* Asegura que los elementos estén en una fila */
}


/* TAG LIST */

.filters__tag-list {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  gap: 10px;
  flex-direction: row; /* Asegura que los elementos estén en una fila */
}

/* TAG LIST */

.tag-list__title {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  user-select: none;
}

.tag-list__title::after {
  content: '▼'; /* Indicador de flecha */
  font-size: 0.8rem;
  transition: transform 0.3s;
}

.tag-list__title.collapsed::after {
  transform: rotate(-90deg); /* Rotar la flecha cuando está colapsado */
}

@media (min-width: 768px) {
  .filters__tags {
    flex-direction: row; /* Change to row for larger screens */
  }
}

@media (min-width: 768px) {
  .filters__tags {
    flex-direction: row; /* Change to row for larger screens */
  }
}
.filters__tag-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filters__tag-list label {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #0e2b4b;
  padding: 10px;
  border-radius: 10px;
  color: var(--color-text);
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  width: 32.5%;
}

.filters__tag-list label:hover {
  background: #082136;
  color: var(--color-secondary);
}

.filters__tag-list input[type="checkbox"] {
  accent-color: var(--color-text);
}

.filters__tag-list label.disabled {
  background: #555;
  color: #999;
  cursor: not-allowed;
}

.filters__section select {
  padding: 10px;
  border: 2px solid var(--color-text);
  border-radius: 10px;
  background: #0e2b4b;
  color: var(--color-text);
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s, border-color 0.3s;
}

.filters__section select:hover {
  background: #082136;
  border-color: var(--color-secondary);
}

/* Grid de mangas */
.library__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

/* Tarjetas de manga */
/* Estilo general para la tarjeta */
/* Contenedor de la tarjeta */
.library__manga-card {
  position: relative;
  width: 163px;
  height: 278px;
  border-radius: 15px;
  overflow: hidden;
  background: #2d4151;
  box-shadow: 0px 8px 20px var(--color-shadow-lighter);
  transition: transform 0.3s ease;
}

/* Estilo para el hover */
.library__manga-card:hover {
  transform: scale(1.05);
}

/* Contenedor de la imagen */
.library__manga-card-figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* Imagen */
.library__manga-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.library__manga-card-star {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: var(--color-gradient-light);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.library__manga-card:hover .library__manga-card-star {
  transform: scale(1.2); /* Agranda la estrella cuando se hace hover sobre la tarjeta */
}

.favorite-star {
  transition: color 0.3s ease;
}

/* Si quieres que la estrella rellena (amarilla) cambie de color al estar activada */
.favorite-star {
  color: var(--color-gradient-light);
}

/* Capa de color transparente sobre la imagen */
.library__manga-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(45, 65, 81, 0.53); /* Color #2D4151 con 53% de opacidad */
}

/* Gradiente */
.library__manga-card-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 0.5rem;
  
}


/* Contenido del texto */
.library__manga-card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  background: linear-gradient( 180deg, 
  rgba(4, 90, 191, 0) 0%, 
  rgba(4, 91, 191, 0.356) 20%, 
  rgba(0, 0, 0, 0.64) 100% );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 9rem;

}

/* Título del manga */
.library__manga-card-title {
  font-size: 1.1rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px var(--color-shadow-darker);
  color: var(--color-gradient-light);
  margin: 0;
}

/* Autor del manga */
.library__manga-card-author {
  font-size: 0.9rem;
  color: var(--color-gradient-light);
  text-shadow: 1px 1px 3px var(--color-shadow-darker);
  margin: 5px 0 0;
}

.library__manga-rating {
  color: var(--color-gradient-light);
  font-size: 0.9rem;
  text-shadow: 1px 1px 3px var(--color-shadow-darker);
  margin: 5px 0 0;
  text-align: center; /* Centra el texto horizontalmente */
  display: flex; /* Permite usar flexbox para centrar */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
}


/* HOME */

.home__popular-mangas {
  display: flex;
  overflow-x: hidden;
  padding: 20px;
}

.manga-swiper {
  width: 100%;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--color-gradient-light); /* Color de las flechas de navegación */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Espacio entre las slides */
}


.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

.home {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.home__banner {
  position: relative;
  width: 100%;
  height: 100vh; /* Mantiene el tamaño original del banner */
  object-fit: cover;
}

.home__title {
  position: absolute; /* Posiciona el texto sobre la imagen */
  font-family: 'Anton', sans-serif;
  top: 25%; /* Centra el texto verticalmente */
  left: 50%; /* Centra el texto horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el texto para un centrado perfecto */
  color: var(--color-gradient-light); /* Aplica el color del texto */
  font-size: 8rem; /* Tamaño del texto */
  text-align: center; /* Centra el texto horizontalmente */
  text-shadow: 2px 2px 5px var(--color-shadow-dark); /* Mejora la legibilidad */
  z-index: 1; /* Coloca el texto encima de la imagen */
}


.home__bottom {
  position: relative;
  width: 100%; /* Asegura que ocupe todo el ancho */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0; /* Aumenta el espacio entre los elementos */
  z-index: 2; /* Asegura que esté encima de la imagen */
  margin-top: auto; /* Empuja el contenido hacia abajo */
}

.home__info-box {
  padding: 1rem 2rem;
  font-family: 'Arial', sans-serif;
  font-size: 1.5rem;
  color: var(--color-secondary);
  background-color: var(--color-shadow-darker); /* Fondo negro con transparencia */
  border: 2px solid var(--color-gradient-light);
  border-radius: 8px;
  text-align: center;
  margin-bottom: 3rem; /* Aumenta la separación entre el info-box y el botón */
}

.home__button {
  padding: 0.8rem 5rem;
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
  color: var(--color-text-dark);
  background: linear-gradient(90deg, var(--color-gradient-light), var(--color-gradient-dark)); /* Degradado suave */
  border: none;
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px var(); /* Sombra para un diseño moderno */
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.home__button:hover {
  transform: scale(1.05); /* Efecto hover */
  box-shadow: 0 6px 10px var(--color-shadow);
}

.home__button:active {
  transform: scale(0.95); /* Efecto de clic */
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

.home__popular-mangas {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
  scroll-snap-type: x mandatory;
}

.manga-swiper {
  width: 100%;
  padding: 20px 0;
}

.manga-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.manga-card {
  max-width: 150px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--color-secondary);
}

.manga-card img {
  width: 100%;
  height: auto;
}

.manga-card-title {
  font-size: 0.9rem;
  margin: 10px 0;
  color: var(--color-background-dark);
}

.manga-card-author {
  font-size: 0.8rem;
  color:  var(--color-text-darker);
}

@media (min-width: 768px) {


  .manga-swiper .swiper-slide {
    max-width: 200px;
  }
}


.home__box-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.box-content__image {
  height: 50%;
  width: 20%;
  border-radius: 50px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(6, 100, 212, 0.74) 0%,
    rgba(67, 130, 177, 0.02) 100%
  );
  background-size: cover;
  background-position: center;
}

.box-content__text {
  font-size: 4rem;
  padding-left: 2rem;
  color: #e6e6bf;
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 1.2;
}

@media (max-width: 768px) {
  .home__title {
    font-size: 6rem;
    top: 22%;
  }

  .home__box-content {
    flex-direction: column; /* Cambia a disposición en columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  .box-content__image {
    height: 40%;
    width: 30%;
  }

  .box-content__text {
    font-size: 3rem;
    padding-left: 1rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .home__title {
    font-size: 6rem;
    top: 22%;
  }

  .home__box-content {
    flex-direction: column; /* Cambia a disposición en columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }
  
  .box-content__image {
    height: 30%;
    width: 40%;
  }

  .box-content__text {
    font-size: 2.5rem;
    padding-left: 1rem;
  }
}

@media (max-width: 386px) {
  .home__title {
    font-size: 3.5rem;
    top: 20%;
  }

  .home__info-box {
    width: 50%;
  }

  .home__box-content {
    flex-direction: column; /* Cambia a disposición en columna */
    align-items: center; /* Centra los elementos horizontalmente */
  }

  .box-content__image {
    height: 20%;
    width: 50%;
    border-radius: 25px;
  }

  .box-content__text {
    font-size: 2rem;
    padding-left: 0.5rem;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: var(--color-shadow);
  color: var(--color-secondary);
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.home__gallery-item--active {
  border: 4px solid #d4a373;
  box-shadow: 0 4px 15px var(--color-shadow);
  transform: scale(1.3);
  transition: transform 0.3s ease, border 0.3s ease;
}


/* MANGA PAGE */
.manga-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin-left: 4rem; /* Espacio dejado por la navbar */
  padding-right: 20px; /* Añadir un pequeño margen derecho para que no se pegue al borde */
}

.manga-left {
  width: 40%; /* Ajusta el ancho si es necesario */
  height: 100vh; /* Ajusta la altura para que siempre se vea en la vista */
  padding: 10px; /* Reduce el padding para comprimir el contenido */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 0;
  position: sticky;
  z-index: 1;
}

.manga-left::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/background-item-manga-left.jpeg") no-repeat center center;
  background-size: cover;
  filter: drop-shadow(16px 19px 54px rgba(0, 0, 0, 0.16))
          drop-shadow(62px 77px 99px rgba(0, 0, 0, 0.14))
          drop-shadow(140px 173px 134px rgba(0, 0, 0, 0.08))
          drop-shadow(249px 308px 158px rgba(0, 0, 0, 0.02))
          drop-shadow(389px 481px 173px rgba(0, 0, 0, 0.00));
  z-index: -1; 
}

.manga-cover {
  width: 50%; /* Reduce el ancho de la imagen */
  height: auto;
  z-index: 0;
  margin-top: 6rem;
  border-radius: 10px;
  margin-bottom: 10px; /* Reduce el margen inferior */
}

.manga-title {
  font-size: 20px; /* Reduce el tamaño de la fuente */
  width: 80%; /* Ajusta el ancho */
  font-weight: bold;
  margin-bottom: 5px; /* Reduce el margen inferior */
  color: #f5f5f5;
}

.manga-author {
  font-size: 16px; /* Reduce el tamaño de la fuente */
  font-style: italic;
  margin-bottom: 10px; /* Reduce el margen inferior */
  color: #d1d1d1;
}

.manga-description {
  font-size: 14px; /* Reduce el tamaño de la fuente */
  width: 80%; /* Ajusta el ancho */
  line-height: 1.4; /* Ajusta la altura de línea */
  margin-bottom: 10px; /* Reduce el margen inferior */
  color: #b2b2b2; /* Color del texto */
  max-height: 200px; /* Aumenta la altura máxima para mostrar más texto */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
  padding-right: 10px; /* Añade un poco de padding a la derecha para el scroll */
}

.manga-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Reduce el espacio entre etiquetas */
  width: 90%; /* Ajusta el ancho */
  justify-content: center;
}

.manga-tag {
  background-color: #4a5568;
  padding: 3px 8px; /* Reduce el padding */
  border-radius: 15px; /* Ajusta el borde redondeado */
  font-size: 12px; /* Reduce el tamaño de la fuente */
  color: #f5f5f5;
}

.manga-right {
  width: 60%; /* Ajustado a un 60% para que se vea el contenido correctamente */
  display: flex;
  justify-content: center;
}

.right__container {
  width: 90%; /* Ajusta el ancho para que quede centrado */
  margin-top: 50px;
  padding: 20px;
  background: linear-gradient(180deg, var(--color-background), #1a202c);
  border-radius: 50px 50px 0px 0px;
}

.chapter-list {
  list-style: none;
  padding: 0;
}

.chapter-item {
  margin-bottom: 10px;
}

.chapter-link {
  text-decoration: none;
  cursor: pointer;
  color: #63b3ed;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chapter-date {
  font-size: 14px;
  color: #a0aec0;
}

@media (max-width: 1170px) {

.manga-container {
  margin-left: 0;
  margin-top: 4.5rem;
}
}

/* STATUS */

.manga__estado {
  margin: 20px 0;
  position: relative; /* Necesario para posicionar la flecha personalizada */
}

.reading-status-select {
  background: linear-gradient(90deg, var(--color-background-lighter), var(--color-background-lightest));
  color: var(--color-secondary);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 15px var(--color-shadow-lighter);
  transition: all 0.3s ease;
  appearance: none; /* Remove default arrow */
  cursor: pointer;
  width: 100%; /* Asegura que el select ocupe todo el ancho del contenedor */
}

.reading-status-select:hover {
  background: linear-gradient(90deg, var(--color-background-lightest), var(--color-background-lighter));
  box-shadow: 0 6px 20px var(--color-shadow-light);
  transform: translateY(-2px);
}

.reading-status-select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(6, 73, 152, 0.5);
}

/* Flecha  */
.reading-status-select::after {
  content: '▼';
  position: absolute;
  right: 20px; /* Ajusta la posición de la flecha */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--color-secondary);
  font-size: 1.2rem; /* Ajusta el tamaño de la flecha */
}

/* AUTHOR SUGGESTIONS */

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #030F1C;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  margin-top: 10px;
  display: none; /* Ocultar por defecto */
}

/* Cuando la navbar está expandida, mostrar los resultados de búsqueda */
.navbar:hover .search-results {
  display: block;
}


.search-result-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  align-items: center;
  background-color: #030F1C;
  transition: background-color 0.3s ease;
}

.search-result-item:hover {
  background-color: #7896b8;
}

.search-result-cover {
  width: 50px;
  height: 70px;
  margin-right: 10px;
  border-radius: 5px;
}

.search-result-item span {
  font-size: 14px;
  color: var(--color-gradient-light);
}


.author-search {
  position: relative;
}

.author-search__form {
  display: flex;
  align-items: center;
  transition: width 0.3s ease, padding 0.3s ease;
  width: 80%; /* Ajuste para que ocupe el 100% del contenedor */
  max-width: 100rem; /* Máximo ancho */
  padding: 0;
  background: var(--color-background-light);
  border-radius: 50px;
  border: 4px solid var(--color-border-dark);
  color: var(--color-secondary);
  overflow: hidden;
  margin-top: 1rem;
  margin-left: 3.3rem;
}

.author-search__input {
  border: none;
  display: block;
  background: transparent;
  color: var(--color-secondary);
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  padding: 0;
}

.author-search__icon {
  font-size: 1.5rem;
  color: var(--color-gradient-light);
  margin: 1rem;
}

/* Resultados de búsqueda */
.author-search__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #030F1C;
  max-height: 300px;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  margin-top: 10px;
}

.author-search__suggestion-item {
  display: flex;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  align-items: center;
  background-color: #030F1C;
  transition: background-color 0.3s ease;
}

.author-search__suggestion-item:hover {
  background-color: #7896b8;
}

.author-search__suggestion-text {
  font-size: 14px;
  color: var(--color-gradient-light);
}

/* PAGINATION */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
}

.pagination__button {
  background: linear-gradient(90deg, #0062cc, var(--color-border-darkest));
  border: none;
  color: var(--color-secondary);
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 15px var(--color-shadow-lighter);
  transition: all 0.3s ease;
  font-size: 1rem;
}

.pagination__button--prev:disabled,
.pagination__button--next:disabled {
  background: var(--color-border-light);
  cursor: not-allowed;
}

.pagination__button:hover:not(:disabled) {
  background: linear-gradient(90deg, var(--color-border-darkest), var(--color-highlight-darker));
  box-shadow: 0 6px 20px var(--color-shadow-light);
  transform: translateY(-2px);
}

.pagination__button:active:not(:disabled) {
  transform: translateY(1px);
  box-shadow: 0 2px 10px var(--color-shadow-lighter);
}

.pagination__info {
  font-size: 1.2rem;
  color: #cdcdaa;
}

/* CHAPTER */

.chapter-container {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

.chapter-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.chapter-page {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}


/* CHAPTER PAGE */

.chapter {
  background-color: rgba(30, 30, 30, 0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px var(--color-shadow);
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  animation: fadeIn 0.5s ease-out;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.chapter__header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.chapter__title {
  font-size: 2.5rem;
  color: #fcea84;
  font-family: "Anton";
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.chapter__view-toggle {
  background: none;
  border: none;
  font-size: 2rem;
  color: #fcea84;
  cursor: pointer;
  margin-left: 10px;
}

.chapter__page-container, .chapter__all-pages-container {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.chapter__page {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  transition: transform 0.5s ease-in-out;
  border-radius: 15px;
  margin-bottom: 20px;
}

.chapter__page:hover {
  transform: scale(1.05);
}

.chapter__navigation {
  position: relative;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 30px;
  z-index: 2; /* Asegura que los botones de navegación estén al frente */
  margin-top: 20px; /* Añade margen superior para separar de la imagen */
}

.chapter__page-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.chapter__page-nav-prev,
.chapter__page-nav-next,
.chapter__chapter-nav-prev,
.chapter__chapter-nav-next {
  background-color: rgba(206, 189, 101, 0.8);
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 6px 20px rgba(255, 244, 145, 0.4);
}

.chapter__page-nav-prev:disabled,
.chapter__page-nav-next:disabled,
.chapter__chapter-nav-prev:disabled,
.chapter__chapter-nav-next:disabled {
  background-color: var(--color-background-darker);
  cursor: not-allowed;
}

.chapter__page-nav-prev:hover:not(:disabled),
.chapter__page-nav-next:hover:not(:disabled),
.chapter__chapter-nav-prev:hover:not(:disabled),
.chapter__chapter-nav-next:hover:not(:disabled) {
  transform: scale(1.1);
  background-color: rgba(255, 87, 51, 1);
}

.chapter__loading, .chapter__error, .chapter__no-pages {
  font-size: 1.5rem;
  text-align: center;
}

.chapter__loading {
  color: #ff5733;
}

.chapter__error {
  color: #ff6347;
}

.chapter__no-pages {
  color: #aaa;
}

/* Efecto de desplazamiento suave al cargar */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Móvil y dispositivos pequeños */
@media (max-width: 768px) {
  .chapter__title {
    font-size: 1.8rem;
    text-align: left;
    margin-left: 20px;
  }

  .chapter__page {
    max-height: 60vh;
  }

  .chapter__navigation {
    flex-direction: column;
     align-items: center;
  }

  .chapter__page-navigation {
    flex-direction: column;
    align-items: center;
  }

  .chapter__page-nav-prev,
  .chapter__page-nav-next,
  .chapter__chapter-nav-prev,
  .chapter__chapter-nav-next {
    width: 80%;
    margin: 10px 0;
  }
}



.search-bar-wrapper {
  position: relative;
}

.library-search-bar {
  display: flex;
  align-items: center;
  transition: width 0.3s ease, padding 0.3s ease;
  width: 100%; /* Ajuste para que ocupe el 100% del contenedor */
  max-width: 100rem; /* Máximo ancho */
  padding: 0;
  background: var(--color-background-light);
  border-radius: 50px;
  border: 4px solid var(--color-border-dark);
  color: var(--color-secondary);
  overflow: hidden;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.library-search-input {
  border: none;
  display: block;
  background: transparent;
  color: var(--color-secondary);
  font-size: 1.5rem;
  width: 100%;
  outline: none;
  padding: 0;
}

.library-search-icon {
  font-size: 1.5rem;
  color: var(--color-gradient-light);
  margin: 1rem;
}

/* Media queries para hacer la barra de búsqueda responsive */
@media (max-width: 1200px) {
  .library-search-bar {
    max-width: 80rem;
  }
}

@media (max-width: 992px) {
  .library-search-bar {
    max-width: 60rem;
  }
}

@media (max-width: 768px) {
  .library-search-bar {
    max-width: 40rem;
  }
}

@media (max-width: 576px) {
  .library-search-bar {
    max-width: 100%;
    margin-left: 0;
  }

  .library-search-icon {
    font-size: 1.2rem;
    margin: 0.5rem;
  }

  .library-search-input {
    font-size: 1rem;
  }
}

.library-search-button {
  background: linear-gradient(90deg, #0062cc, var(--color-border-darkest));
  border: none;
  margin-bottom: 1rem;
  padding: 10px 20px;
  border-radius: 50px;
  position: relative;
  right: 0;
  top: 0;
  cursor: pointer;
  box-shadow: 0 4px 15px var(--color-shadow-lighter);
  transition: all 0.3s ease;
}

.library-search-button__text {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--color-secondary);
  text-transform: uppercase;
}

.library-search-button:hover {
  background: linear-gradient(90deg, var(--color-border-darkest), var(--color-highlight-darker));
  box-shadow: 0 6px 20px var(--color-shadow-light);
  transform: translateY(-2px);
}

.library-search-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 10px var(--color-shadow-lighter);
}

/* FILTERS */

.filters-container {
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter {
  width: 22%;
  margin-bottom: 15px;
}

.filter label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
}

.filter input,
.filter select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-border-light);
  border-radius: 5px;
}


.library__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.library__pagination-button {
  padding: 10px 15px;
  background-color: var(--color-highlight);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

.library__pagination-button:hover {
  background-color: var(--color-border-darkest);
}

.library__pagination-button:disabled {
  background-color: var(--color-border-light);
  cursor: not-allowed;
}

.library__pagination-info {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .filters-container {
    flex-direction: column;
    align-items: stretch;
  }

  .filter {
    width: 100%;
  }

  .library-search-bar {
    width: 100%;
  }
}


/* PROFILE PAGE */

/* General styling for the profile page */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  color: var(--color-text); /* Texto dorado */
}

.profile__card {
  display: flex;
  width: 90%;
  max-width: 900px;
  border-radius: 20px;
  background: linear-gradient(145deg, #082136, #0e2b4b);
  box-shadow: 5px 5px 15px var(--color-shadow), -5px -5px 15px rgba(255, 255, 255, 0.1);
  padding: 20px;
  color: var(--color-text);
  margin-top: 5rem;
  border: 2px solid var(--color-text); /* Añade el borde beige */
  overflow: hidden;
  position: relative;
}



.profile__image-container {
  position: relative;
  z-index: 2;
  width: 180px; /* Ancho de imagen tipo carnet */
  height: 220px; /* Altura de imagen tipo carnet */
  border-radius: 10px;
  overflow: clip;
  border: 4px solid var(--color-text); /* Borde dorado */
}

.profile__image {
  width: 100%; /* Se asegura de que la imagen ocupe todo el contenedor */
  height: 100%; /* Hace que la imagen ocupe todo el espacio */
  object-fit: cover; /* Hace que la imagen cubra todo el área sin distorsión */
  object-position: center; /* Centra la imagen dentro del contenedor */
  border-radius: 10px;
}

.profile__right {
  flex: 2;
  display: flex;
  margin-right: 80px;
  flex-direction: column;
  justify-content: center;
}

.profile__header {
  text-align: center;
}

.profile__username {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: var(--color-text);
}

.profile__date {
  font-size: 1rem;
  font-weight: 200;
  color: --color-text;
  margin-bottom: 4rem;
}

.profile__divider {
  margin: 10px 0;
  margin-bottom: 20px;
  border: none;
  height: 7px;
  border-radius: 5px;
  border: 0.009px solid var(--color-text); /* Borde amarillo */
  background-color: var(--color-highlight-darkest); /* Azul oscuro */
}

.profile__details-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.profile__detail-item {
  flex: 1;
  text-align: center;
  margin: 0 10px;
}

.profile__label {
  font-weight: 800; /* Asegúrate de que el peso de la fuente se aplique correctamente */
  font-size: 1.2rem;
  color: var(--color-text);
  display: block; /* Hace que el label ocupe toda la línea */
  margin-bottom: 5px; /* Añade un margen inferior para empujar el valor hacia abajo */
}

.profile__bg-tren {
  position: absolute;
  width: 70%;
  height: 70%;
  left: 100px;
  top: 40px;
  z-index: 1;
  object-fit: fill; /* Asegúrate de que la imagen cubra todo el contenedor */
}

.profile__value {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-text-lighter);
}

.profile__manga-count {
  font-size: 16px;
  margin-top: 10px;
  color: var(--color-text);
}

.profile__barcode {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0b1c38;
  width: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile__barcode-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 12px;
  color: var(--color-text);
}

.profile__actions {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.profile__button {
  background-color: var(--color-highlight);
  color: var(--color-text);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.profile__button:hover {
  background-color: var(--color-highlight-dark);
}

.profile__favorite-mangas-container {
  width: 90%;
  max-width: 900px;
  margin-top: 40px;
  background-color: #0c1f3b;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px var(--color-shadow), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile__favorite-mangas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 30px; /* Espacio entre los mangas */
  justify-content: center; /* Centra los elementos cuando hay menos de los necesarios para llenar una fila */
}

.profile__manga-item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Asegura que el padding y el border se incluyan en el tamaño total */
}

@media (max-width: 1014px) {
  .profile__favorite-mangas {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 13px; /* Espacio entre los mangas */
    justify-content: center; /* Centra los elementos cuando hay menos de los necesarios para llenar una fila */
  }

  .manga-container {
    flex-direction: column; /* Cambia a columna */
    align-items: center;
  }

  .manga-left {
    position: relative;
    width: 102%;
    height: 102%;
    margin: 0;
    order: -1; /* Mueve .manga-left arriba de .manga-right */
  } 

  .manga-right {
    width: 90%;
  }

  * {
    box-sizing: content-box;
  }
}

/* Tablets and smaller */
@media (max-width: 768px) {
  .profile__card {
    flex-direction: column; /* Pasa a una columna */
    align-items: center; /* Centra los elementos */
    text-align: center;
  }

  .profile__details-row {
    flex-direction: column; /* Alinea los detalles verticalmente */
    align-items: center;
  }

  .profile__favorite-mangas {
    grid-template-columns: repeat(2, 0fr); /* 2 mangas por fila */
    gap: 25px;
  }

  .profile__right {
    margin-right: 0px;
  }

  .profile__bg-tren {
    width: 100%;
    height: 50%;
    object-fit: contain;
    left: 0px;
    top: 150px;
  }

  .profile__detail-item {
    margin-bottom: 10px; /* Agrega espacio entre elementos */
  }

  .profile__barcode {
    position: static; /* No es absoluto en pantallas pequeñas */
    margin-top: 20px;
    width: 100%; /* Ocupa todo el ancho */
    height: 70px; /* Altura fija */
    flex-direction: row; /* Cambia a disposición horizontal */
  }

  .profile__barcode-text {
    writing-mode: horizontal-tb; /* Cambia la escritura a horizontal */
    transform: rotate(0deg); /* Elimina la rotación */
  }

  .manga-container {
    margin-left: 0;
  }
}

/* Mobile and smaller */
@media (max-width: 537px) {
  .profile {
    padding: 10px; /* Reduce el padding */
  }

  .profile__image-container {
    width: 100px;
    height: 140px;
  }

  .profile__username {
    font-size: 1.2rem;
  }

  .profile__favorite-mangas {
    grid-template-columns: repeat(2, 0fr); /* 2 mangas por fila */
    gap: 25px;
  }

  .profile__actions {
    flex-direction: column; /* Botones apilados */
    align-items: center;
  }

  .profile__button {
    width: 100%; /* Los botones ocupan todo el ancho */
    max-width: 300px;
  }
}

@media (max-width: 390px) {
  .profile__favorite-mangas {
    grid-template-columns: 0fr; /* 2 mangas por fila */
    gap: 25px;
  }
}

/* LOGIN */


.contact, .login, .register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 14rem;
}

.contact__container, .login__container, .register__container {
  width: 90%;
  max-width: 400px;
  background: var(--color-background-dark);
  border-radius: 10px;
  box-shadow: 0 10px 20px var(--color-shadow);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-text); /* Color beige */
}

.contact__header, .login__header, .register__header {
  margin-bottom: 20px;
}

.contact__title, .login__title, .register__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.contact__subtitle, .login__subtitle, .register__subtitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.contact__form-container, .login__form-container, .register__form-container {
  width: 100%;
}

.contact__form, .login__form, .register__form {
  display: flex;
  flex-direction: column;
}

.form__group {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--color-text); /* Color beige */
}

.form__input, .register__input {
  width: 100%;
  padding: 12px;
  border: 1px solid #555; /* Borde gris oscuro */
  border-radius: 5px;
  font-size: 16px;
  color: var(--color-text); /* Texto blanco */
  background-color: var(--color-background-darker); /* Fondo gris oscuro */
  box-shadow: inset 0 2px 4px var(--color-shadow);
  transition: all 0.3s ease;
}

.form__input:focus {
  outline: none;
  border-color: var(--color-highlight); /* Borde azul */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.form__button, .register__button {
  width: 100%;
  padding: 12px;
  background-color: var(--color-border-darker);
  color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.form__button:hover {
  background-color: var(--color-border-darkest);
  transform: translateY(-2px);
}

.form__button:active {
  transform: translateY(0);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .contact__container, .login__container, .register__container {
    padding: 30px;
  }

  .contact__title, .login__title, .register__title {
    font-size: 24px;
  }

  .contact__subtitle, .login__subtitle, .register__subtitle {
    font-size: 14px;
  }

  .form__input {
    font-size: 14px;
  }

  .login__input, .register__input {
    width: 95%;
  }

  .login__button, .register__button {
    width: 95%;
  }
  .form__button {
    font-size: 14px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .contact__container, .login__container, .register__container {
    padding: 20px;
  }

  .contact__title, .login__title, .register__title {
    font-size: 20px;
  }

  .contact__subtitle, .login__subtitle, .register__subtitle {
    font-size: 12px;
  }

  .form__input {
    font-size: 12px;
  }

  .form__button {
    font-size: 12px;
    padding: 8px;
  }
}
/* NOTIFICATIONS */

.notifications {
  padding: 20px;
}

.notification {
  display: flex;
}
/* NOTIFICATIONS */

.notifications {
  padding: 20px;
}

.notification {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border-light);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.notification__cover {
  width: 50px;
  height: 75px;
  margin-right: 10px;
}

.notification__details {
  flex: 1;
}

.notification__title {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.notification__message {
  margin: 5px 0 0;
  font-size: 14px;
}


/* FOOTER */

.footer {
  background-color: #002347; /* Fondo del footer */
  padding-top: 20px; /* Espaciado interno */
  padding-bottom: 20px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  width: 100%; /* Ancho completo */
}

.footer__content {
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido */
  display: flex; /* Utiliza flexbox para los enlaces */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
  justify-content: center; /* Centra los enlaces horizontalmente */
  gap: 20px; /* Espaciado entre los enlaces */
}

.footer__link {
  color: var(--color-highlight); /* Color del texto del enlace */
  text-decoration: none; /* Sin subrayado */
  margin: 10px 20px; /* Espaciado alrededor de cada enlace */
}

.footer__link:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor */
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column; /* Cambia a disposición en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 10px; /* Ajusta el espaciado entre los enlaces */
  }
}

@media (max-width: 360px) {
  .footer__content {
    flex-direction: column; /* Cambia a disposición en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    gap: 15px; /* Ajusta el espaciado entre los enlaces */
  }
}




/* Estilos del layout principal */
.layout-public {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que la altura del contenedor ocupe toda la ventana */
}

/* Contenido principal */
.layout-public__content {
  flex: 1; /* Hace que el contenido principal ocupe todo el espacio disponible */
}

/* NOT FOUND */
.notfound {
  position: relative;
  text-align: center;
  color: var(--color-text); /* Color beige */
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.notfound__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.notfound__image {
  position: absolute;
  height: auto;
  object-fit: cover;
  opacity: 0; /* Initially hidden */
  animation: float 10s infinite, slideIn 1s forwards;
}

.notfound__image--inosuke {
  right: 0;
  width: 70%;
  animation-delay: 0s, 0s;
}

.notfound__image--tren {
  right: 20%;
  width: auto;
  height: 100%;
  animation-delay: 2s, 1s;
}

.notfound__image--shibuya {
  left: 0;
  width: 20%;
  animation-delay: 4s, 2s;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.notfound__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-shadow-dark); /* Black transparent layer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notfound__title {
  font-size: 128px;
  font-family: "Anton";
  font-weight: 700;
  margin: 0;
}

.notfound__subtitle {
  font-size: 128px;
  font-family: "Anton";
  margin: 0;
}

.notfound__button {
  width: 20%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--color-highlight);
  color: var(--color-text); /* Color beige */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 3rem;
  font-family: "Anton";
  transition: background-color 0.3s ease;
}

.notfound__button:hover {
  background-color: var(--color-border-darkest);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .notfound__title {
    font-size: 48px;
  }

  .notfound__subtitle {
    font-size: 18px;
  }

  .notfound__image--inosuke {
    width: 82%;
    height: 107%;
    left: 28%;
  }

  .notfound__image--tren {
    width: 100%;
    height: auto;
  }
  .notfound__image--shibuya {
    width: 30%;
  }

  .notfound__button {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .notfound__title {
    font-size: 36px;
  }

  .notfound__subtitle {
    font-size: 16px;
  }

  .notfound__image--inosuke {
    width: auto;
    height: 100vh;
    left: 0;
  }

  .notfound__image--tren {
    width: 100%;
    height: 80%;
    left: 0;
  }

  .notfound__image--shibuya {
    width: 40%;
  }

  .notfound__button {
    width: 30%;
    font-size: 1rem;
  }
}

/* New animation for sliding in from the right */
@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}